.container{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
body{
    background-color: rgb(32, 31, 31);
    color: white;
    font-size: large;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px 0px rgba(144, 143, 143, 0.75);  
    padding:4rem 2.5rem;
    background-color: #424040;
}