.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100vw;
}
body{
    background: #3e3b3b;
}
#clock{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: bold;
    color: #333;
    margin: 20px;
    height: 100px;
    width: 200px;
    background-color: #4bce49;
    border-radius: 10px;
}
